html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #777777;
}
a{
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}