@import 'global';
@import 'vars';
@import 'fonts';

// start header

.header{
    background-color: rgba(68,67,62, 0.7);
    position: absolute;
    width: 100%;
    z-index: 1;
    .header__logo{
        cursor: pointer;
    }
}
.header__inner{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
.header__menu-wrapper{
    display: flex;
}
.menu{
    li{
        display: inline-block;
        @include f700;
        font-size: 13px;
        text-transform: uppercase;
        & + li {
            margin-left: 18px;
        }
    }
    a{
        color: #b8b8b8;
        cursor: pointer;
        position: relative;
    }
    a:hover{
        color: $green;
    }
    a:after{
        display: block;
        content: '';
        height: 3px;
        width: 0%;
        background-color: $green;
        transition: width .3s ease-in-out;
        position: absolute;
        top: 70px;
    } 
    a:hover:after{
        width: 100%;
    }
    .menu-home{
        color: $green;
    }
}
.header__search{
    &:before{
        font-family: 'icomoon';
        content: "\e901";
        font-weight: 900;
        font-size: 22px;
        color: $green;
    }
    margin-left: 25px;
}
.header__search{
    max-width: 650px;
    position: relative;
    cursor: pointer;
    form{
        position: absolute;
        top: 75px;
        right: 0;
        display: none;
        input{
            display: block;
            padding: 18px 15px;
            border: none;
            width: 650px;
            font-size: 13px;
            font-weight: 400;
            color: #a5a5a5;
        }
        button{
            width: 55px;
            background-color: $green;
            border: 5px solid #fff;
            cursor: pointer;
            &::before{
                font-family: 'icomoon';
                content: "\e901";
                font-weight: 900;
                font-size: 22px;
                color: #fff;
            }
        }
    }
}

// end header
// start slider

.slider{
    min-height: 1000px;
    width: 100%;
}
.slider-item{
    padding-top: 350px;
    padding-bottom: 245px;
}
.slider-item-photo1{
    background: linear-gradient(rgba(0, 0, 0, 0.2)), url(../images/slider-foto1.jpg) center center/cover no-repeat;
}
.slider-item-photo2{
    background: linear-gradient(rgba(0, 0, 0, 0.2)), url(../images/slider-foto2.jpg) center center/cover no-repeat;
}
.slider-item-inner{
    text-align: center;
    background-color: rgba(68,67,62, 0.7);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 135px;
}
.slider-item-title{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    span{
        color: $green;
    }
}
.slider-item-text{
    font-size: 79px;
    line-height: 85px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.slider-item-text-action{
    font-size: 34px;
    line-height: 45px;
    font-weight: 300;
    color: #fff;
}
.slider-item-button{
    display: flex;
    justify-content: center;
}
a.btn{
    padding: 20px 25px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0px -4px #fff;
    cursor: pointer;
}
.btn__explore{
    background-color: $green;
}    
a.btn__explore:hover{
    background-color: #1e8672;
}
.btn__purchase{
    background-color: #00cbf6;
    margin-left: 25px;
}
a.btn__purchase:hover{
    background-color: #139bb8;
}
.slider-nav{
    width: 170px;
    position: absolute;
    right: 250px;
    top: 750px;
}
.slider-item-nav {
    height: 105px;
    max-width: 170px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.slider-item-nav-photo1{
    background: url(../images/slider-foto1.jpg) center center/cover no-repeat;
}
.slider-item-nav-photo2{
    background: url(../images/slider-foto2.jpg) center center/cover no-repeat;
}
button.slick-next.slick-arrow,
button.slick-prev.slick-arrow{
    width: 64px;
    height: 64px;
    border: none;
    font-size: 0px;
}
button.slick-next.slick-arrow{
    background-color: #19ceab;
    position: absolute;
    right: 0px;
    top: 115px;
}
button.slick-prev.slick-arrow{
    background-color:#3c4240;
    position: absolute;
    left: 0px;
    top: 115px;
}
button.slick-next.slick-arrow::before{
    font-family: 'icomoon';
    content: "\f054";
    font-size: 25px;
    color: #fff;
}
button.slick-prev.slick-arrow::before{
    font-family: 'icomoon';
    content: "\f053";
    font-size: 25px;
    color: #878787;
}

button.slick-prev.slick-arrow.color-active,
button.slick-next.slick-arrow.color-active{
    background-color: #19ceab;
    &::before{
        color: #fff;
    }
}

button.slick-next.slick-arrow.color-off{
    background-color:#3c4240;
    &::before{
        color: #878787;
    }
}
// end slider
// start advantages
.advantages__inner{
    display: flex;
    justify-content: space-between;
    & .advantages__item:nth-child(odd){
        background-color: #1c2a33;
        color: $green;
        border-top: 7px solid $green;
    }
    & .advantages__item:nth-child(even){
        background-color: $green;
        color: #fff;
        border-top: 7px solid #fff;
    }
}
.advantages__item{
    padding-top: 88px;
    padding-bottom: 110px;
    width: 100%;
    text-align: center;
    .advantages__item-text{
        margin-top: 50px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

// end advantages
// start features

.features{
    padding-top: 100px;
    padding-bottom: 90px;
}
.title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    position: relative;
    margin-bottom: 80px;
    display: inline-block;
    &::before{
        content: '';
        display: block;
        height: 1px;
        width: 75px;
        background-color: $green;
        position: absolute;
        bottom: -60%;
        left: 47%;
    }
    &::after{
        content: '';
        display: block;
        height: 1px;
        width: 75px;
        background-color: $green;
        position: absolute;
        left: 45%;
        bottom: -49%;
    }
}
.features__title{
    color: #4e4e4e;
    text-align: center;
}
.features__items{
    display: flex;
    flex-wrap: wrap;
}
.features__item{
    max-width: 370px;
    padding: 10px;
}
.features__item-title{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #717171;
    margin: 20px 0;
    &:hover{
        color: $green;
    }
    &:before{
        color: $green;
        font-size: 22px;
        padding-right: 15px;
    }
}

// end features
// start about
.about{
    min-height: 680px;
    background: url(../images/image-about.jpg) center center/cover no-repeat;
    padding-top: 95px;
    padding-bottom: 90px;
    &__title{
        color: #fff;
    }
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
}
.about__skills{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.about__tabs-wrapper{
    .tabs{
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 60px;
        display: flex;
        span {
            cursor: pointer;
            position: relative;
            &:hover{
                color: $green;
                &:before{
                    content: '';
                    height: 3px;
                    width: 100%;
                    background-color: $green;
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: -10px;
                }
            }
            & + span{
               margin-left: 25px; 
            }
        }
    }
    .tab_content{
        font-size: 13px;
        color: #fff;
        line-height: 23px;
        max-width: 750px;
        .tab-item{
            display: none;
            &:nth-child(3){
                display: block;
            }
        }
    }
}
span.tab.active{
    color: $green;
    &:before{
        content: '';
        height: 3px;
        width: 100%;
        background-color: $green;
        display: block;
        position: absolute;
        right: 20px;
        top: -10px;
    }
}
.skills__items{
    max-width: 560px;
}
.skills__item{
    margin-bottom: 15px;
    border: 1px solid #959595;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    span{
        display: block;
        padding: 8px;
    }
}
.skill-interface{
    background-color: #9c5da5;
    width: 70%;
}
.skill-webdesign{
    background-color: #11b0de;
    width: 80%;
}
.skill-html{
    background-color: #d67f7f;
    width: 65%;
}
.skill-appdesign{
    background-color: #20bc9d;
    width: 90%;
}
.skill-wordpress{
    background-color: #bb8a36;
    width: 60%;
}

// end about
// start works
.works{
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}
.works__title{
    text-align: center;
    color: #4e4e4e;
}
.works__inner-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    button{
        padding: 22px 25px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        cursor: pointer;
        display: block;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #4e4e4e;
        position: relative;
        &.mixitup-control-active{
            color: $green;
            &::before{
                display: block;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $green;
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
}
.works__inner-box{
    display: flex;
    flex-wrap: wrap;
}
.works__box-item{
    height: 210px;
    width: 270px;
    text-align: center;
}
.works__icons{
    display: flex;
    justify-content: center;
}
.works__item-link{
    height: 40px;
    width: 40px;
    border: 1px solid $green;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: $green;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.works__item-search{
    height: 40px;
    width: 40px;
    background-color: $green;
    border-radius: 50%;
    margin-left: 5px;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: #fff;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.works__item-title{
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $green;
    margin-top: 35px;
    margin-bottom: 10px;
}
.works__item-text{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}
.works__box-content{
    display: none;
    padding: 40px 25px;
}
.works__box-item:hover{
    border-top: 2px solid $green;
    .works__box-content{
        display: block;
        background: rgba(14,27,37, 0.9);
    }
}
.graphic-photo1{
    background: url(../images/work/graphic-design-1.jpg) center center/cover no-repeat;
}
.graphic-photo2{
    background: url(../images/work/graphic-design-2.jpg) center center/cover no-repeat;
}
.graphic-photo3{
    background: url(../images/work/graphic-design-3.jpg) center center/cover no-repeat;
}
.graphic-photo4{
    background: url(../images/work/graphic-design-4.jpg) center center/cover no-repeat;
}
.web-photo1{
    background: url(../images/work/web-design-1.jpg) center center/cover no-repeat;
}
.web-photo2{
    background: url(../images/work/web-design-2.jpg) center center/cover no-repeat;
}
.web-photo3{
    background: url(../images/work/web-design-3.jpg) center center/cover no-repeat;
}
.landing-photo1{
    background: url(../images/work/landing-page-1.jpg) center center/cover no-repeat;
}
.landing-photo2{
    background: url(../images/work/landing-page-2.jpg) center center/cover no-repeat;
}
.landing-photo3{
    background: url(../images/work/landing-page-3.jpg) center center/cover no-repeat;
}
.landing-photo4{
    background: url(../images/work/landing-page-4.jpg) center center/cover no-repeat;
}
.landing-photo5{
    background: url(../images/work/landing-page-5.jpg) center center/cover no-repeat;
}
.works__load-btn{
    display: inline-block;
    background-color: $green;
    padding: 20px 24px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px auto 100px;
    &:before{
        font-family: 'icomoon';
        content: "\f067";
        font-size: 14px;
        margin-right: 10px;
        color: #fff;
    }
}
// end works
// start services
.services{
    margin-top: 95px;
    margin-bottom: 100px;
    .services-title{
        text-align: center;
    }
    .title{
        color: #4e4e4e;
    }
}
.services__tabs-wrapper{
    .tabs{
        display: flex;
        .tab{
            width: 185px;
            padding-top: 25px;
            padding-bottom: 25px;
            text-align: center;
            background-color: #f8fcfe;
            border: 1px solid #ebebeb;
            color: #717171;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            position: relative;
            &.active{
                background-color: $green;
                border: 1px solid &green;
                color: #fff;
                &::after {
                    content: ''; 
                    position: absolute;
                    left: 80px; bottom: -20px;
                    border: 10px solid transparent;
                    border-top: 10px solid $green;
                   }
            }
        }
    }
    .tab_content{
        margin-top: 25px;
        text-align: justify;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        img{
            width: 185px;
            float: left;
            margin-right: 30px;
            margin-bottom: 10px;
        }
        .tab-item{
            display: none;
            &:nth-child(1){
                display: block;
            }
        }
    }
}

// end services
// start purchase
.purchase{
    padding-top: 110px;
    padding-bottom: 130px;
    background: linear-gradient(rgba(0, 0, 0, 0.7)),url(../images/purchase-img.jpg) center center/cover no-repeat;
    text-align: center;
    .btn__purchase{
        background-color: $green;
        &:hover{
            background-color: #1e8672;
        }
    }
    // ::after{
    //     content: ''; затемнение блока
    //     display: block;
    //     width: 100%;
    //     background: rgba(14,27,37, 0.9);
    // }
}
.purchase__title{
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: $green;
    margin-bottom: 30px;
}
.purchase__text{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #d8d8d8;
    margin-bottom: 75px;
}

// end purchase

